@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans JP';
  src: url(@/assets/fonts/NotoSansJP.ttf);
  unicode-range: U+3000-303f, U+3040-309f, U+30a0-30ff, U+ff00-ffef, U+4e00-9faf;
}
@font-face {
  font-family: 'Segoe UI';
  src: url(@/assets/fonts/SegoeUI.ttf);
}

@layer base {
  :root {
    font-family: 'Noto Sans JP', 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }

  button,
  a {
    @apply transition-colors;
  }

  ::-webkit-scrollbar {
    @apply size-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply m-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-text/30 hover:bg-text/50 rounded-full;
  }
}

@layer components {
  @property --background-color {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
  }

  .work-list-gradient-top,
  .work-list-gradient-bottom {
    @apply relative after:pointer-events-none after:absolute after:left-0 after:top-0 after:size-full after:content-[''];
  }
  .work-list-gradient-top::before,
  .work-list-gradient-top::after,
  .work-list-gradient-bottom::before,
  .work-list-gradient-bottom::after {
    z-index: 1;
    --background-color: theme('colors.background');
    transition: --background-color 2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .work-list-gradient-top::before {
    @apply pointer-events-none absolute left-0 top-0 size-full content-[''];
    background: linear-gradient(
      0,
      transparent calc(100% - 2rem),
      var(--background-color) calc(100% - 0.5rem)
    );
  }
  .work-list-gradient-bottom::after {
    @apply pointer-events-none absolute left-0 top-0 size-full content-[''];
    background: linear-gradient(0, var(--background-color) 0.5rem, transparent 2rem);
  }
}
